@model IEnumerable<PrHeredades.Models.tbProductoPresentacion>

@{
    ViewBag.Title = "Crear";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-11">
            <h1 class="text-monospace text-dark">Inventario</h1>
        </div>
        <div class="col-md-2 text-right col-sm-1">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInfo">
                <i class="fa fa-question"></i>
            </button>
        </div>
    </div>
</div>

<hr />

<table class="table table-sm table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                Producto
            </th>
            <th scope="col">
                Presentación
            </th>
            <th scope="col" class="text-center">
                Existencias
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @item.tbProducto.producto
                </td>
                <td class="align-middle">
                    @item.tbPresentacion.presentacion
                </td>
                <td class="align-middle text-center">
                    @item.existencia
                </td>
            </tr>
        }
    </tbody>

</table>

<!-- Modal de información -->
<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    En esta página se muestra la existencia actual por producto.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


