@model IEnumerable<PrHeredades.Models.tbRolPermiso>

@{
    ViewBag.Title = "Permisos";
}

<div class="row">
    <div class="col-md-10 col-sm-11">
        <h2><strong>@ViewBag.rol:</strong> Permisos</h2>
    </div>
    <div class="col-md-2 text-right col-sm-1">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalInfo">
            <i class="fa fa-question"></i>
        </button>
    </div>
</div>

<div id="lista" class="form-group">
    @Html.Partial("_ListaPermisos", Model)
</div>

<p>
    <a href="@Url.Action("Index")" class="btn btn-dark">
        <span class="fa fa-arrow-left"></span> Regresar
    </a>
</p>

<div class="modal fade" id="modalInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    En esta página se configura que permisos tiene el rol seleccionado.
                </p>
                <p>
                    Los permisos Habilitados ( <i class="fa fa-check-square"></i> ) son las páginas a las que un usuario asignado a este rol, podrá acceder.
                </p>
                <p>
                    Los permisos Deshabilitados ( <i class="fa fa-square"></i> ) son las páginas a las que un usuario asignado a este rol, no podrá acceder.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>
        function CambiarEstado(rol, permiso) {
            $.ajax({
                url: '@Url.Action("CambiarEstadoPermiso")',
                type: 'get',
                data: { codRol: rol, codPermiso: permiso },
                success: function (response) {
                    $('#lista').html(response);
                },
                error: function (response) {
                    alert("");
                }
            });
        }
    </script>
}
