<div class="jumbotron">
    <h1 class="display-4">Catalogos</h1>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-md-4">
        <h1><a href="@Url.Action("Index", "Producto")">Productos</a></h1>
        <p>Listado de productos que son vendidos</p>
    </div>

    <div class="col-md-4">
        <h1><a href="@Url.Action("Index", "Presentacion")">Presentaciones</a></h1>
        <p>Listado de presentaciones que se asignan a los productos</p>
    </div>

    <div class="col-md-4">
        <h1><a href="@Url.Action("Index", "Categoria")">Categorías</a></h1>
        <p>Listado de categorías que se asignan a los productos</p>
    </div>
</div>